body {
  font-family: "Bender", sans-serif, Arial;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  min-height: 480px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.top_header {
  font-size: 18px;
  min-height: 620px;
  background: url("../img/bgmain.svg") no-repeat center rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-attachment: fixed; }
  .top_header .bglayer {
    background-color: rgba(0, 0, 0, 0.75);
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.85) 100%);
    min-height: 620px; }

.header_info {
  color: #5adff1;
  display: table;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  .header_info ul {
    margin-top: 5px; }
  .header_info .header_nav {
    display: table-row; }
  .header_info .right {
    text-align: left;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .header_info .left {
    text-align: right;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .header_info .top_nav_wrap .top_nav {
    color: #55feb4;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase; }
    .header_info .top_nav_wrap .top_nav ul {
      padding: 0 0;
      margin-top: 10px;
      margin-bottom: 10px; }
      .header_info .top_nav_wrap .top_nav ul li {
        display: inline-block;
        list-style-type: none;
        padding: 0 10px; }
    .header_info .top_nav_wrap .top_nav a {
      color: #55feb4;
      padding: 5 0px; }
      .header_info .top_nav_wrap .top_nav a:hover {
        border-bottom: 1px solid #28d187; }
  .header_info .header_info_row {
    display: table-row; }
    .header_info .header_info_row .header_info_centered {
      display: table-cell;
      vertical-align: middle;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
      .header_info .header_info_row .header_info_centered .logo_wrap {
        margin-top: 20px;
        margin-left: 20px; }
        .header_info .header_info_row .header_info_centered .logo_wrap .iportlogo {
          width: 110px;
          height: 110px; }
      .header_info .header_info_row .header_info_centered .company_descr_wrap {
        display: inline-block;
        padding-bottom: 0;
        margin-top: 0; }
        .header_info .header_info_row .header_info_centered .company_descr_wrap h1 {
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 18px;
          padding: 0;
          margin: 0;
          letter-spacing: 1px; }
          .header_info .header_info_row .header_info_centered .company_descr_wrap h1 span {
            color: #55feb4; }
          .header_info .header_info_row .header_info_centered .company_descr_wrap h1 br {
            display: none; }
        .header_info .header_info_row .header_info_centered .company_descr_wrap h2 {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 18px;
          padding: 0;
          margin: 0;
          text-transform: uppercase; }
      .header_info .header_info_row .header_info_centered .company_name_wrap {
        padding: 0;
        margin: 0; }
        .header_info .header_info_row .header_info_centered .company_name_wrap > h3 {
          font-family: "Bender", sans-serif;
          font-size: 60px;
          font-weight: 800;
          color: #fe5b5d;
          padding: 0;
          margin: 0; }
      .header_info .header_info_row .header_info_centered .company_operations {
        padding: 0; }
        .header_info .header_info_row .header_info_centered .company_operations ul {
          padding: 0; }
          .header_info .header_info_row .header_info_centered .company_operations ul li {
            list-style-type: none;
            margin-bottom: 4px;
            font-family: "Bender", sans-serif;
            font-weight: normal;
            color: #3ce59b;
            padding: 0; }
            .header_info .header_info_row .header_info_centered .company_operations ul li i {
              margin-right: 5px;
              color: rgba(0, 0, 0, 0.6); }

.contacts_wrap {
  display: block;
  padding: 0; }
  .contacts_wrap ul, .contacts_wrap li {
    list-style-type: none;
    padding: 0; }
  .contacts_wrap li {
    font-weight: 400;
    margin-bottom: 4px; }
  .contacts_wrap a {
    color: #55feb4;
    letter-spacing: 1px; }
    .contacts_wrap a:hover {
      border-bottom: 1px solid #55feb4; }

.dark_wrap {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.button_wrap {
  margin-top: 40px;
  text-align: center;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }
  .button_wrap i {
    margin-right: 10px; }

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px #3ce59b solid;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 10px;
  color: #3ce59b;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.6); }

.aboutus {
  color: #333;
  background-color: #2db2c4;
  background: -webkit-linear-gradient(332deg, #00abc1 0%, #3fb2c1 33%, #00abc1 100%);
  background: linear-gradient(118deg, #00abc1 0%, #3fb2c1 33%, #00abc1 100%);
  padding-bottom: 60px;
  padding-top: 60px; }
  .aboutus .aboutus_text_wrap {
    margin-top: 40px; }
    .aboutus .aboutus_text_wrap span {
      font-weight: 800; }
  .aboutus h3 {
    color: #111;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px; }
  .aboutus p {
    font-weight: 400; }
  .aboutus .column_wrap {
    padding-bottom: 10px; }
    .aboutus .column_wrap hr {
      width: 100%; }

.sectionicons {
  width: 100px;
  height: 100px; }

.icon_wrap {
  text-align: center; }

.operations {
  background-color: #fe5b5d;
  background: -webkit-linear-gradient(315deg, #f93e3e 0%, #fe5b5d 33%, #fc4141 100%);
  background: linear-gradient(135deg, #f93e3e 0%, #fe5b5d 33%, #fc4141 100%);
  color: #eee;
  padding-bottom: 60px; }
  .operations .block_wrap {
    display: table;
    margin: 20px auto;
    height: auto;
    width: auto; }
  .operations .block_row {
    display: table-row; }
  .operations .block_cell {
    display: table-cell;
    vertical-align: middle; }
  .operations .block_title_wrap {
    color: #fff;
    text-align: right;
    display: inline-block;
    margin-right: 20px; }
  .operations .block_icon_wrap {
    display: inline-block; }
  .operations .block_descr_wrap {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%; }
    .operations .block_descr_wrap i {
      margin-right: 10px;
      color: rgba(0, 0, 0, 0.2); }
  .operations .dark_row_wrap {
    background-color: rgba(0, 0, 0, 0.08); }
  .operations h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .operations h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .operations p {
    font-weight: normal;
    margin: 0;
    padding: 5px; }
  .operations ul {
    padding: 0;
    list-style-type: none; }

.callbackform {
  color: #5adff1;
  background: url("../img/bg_eur_4c.svg") no-repeat center rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-attachment: fixed;
  height: 620px; }
  .callbackform .bglayerform {
    background-color: rgba(0, 0, 0, 0.64);
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.85) 100%);
    width: 100%;
    height: 620px;
    z-index: 1; }
  .callbackform .blockform_wrap {
    margin-top: 60px; }
  .callbackform .form_descrwrap {
    text-align: center;
    margin-bottom: 40px; }
    .callbackform .form_descrwrap h2 {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
    .callbackform .form_descrwrap h3 {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
  .callbackform .pop_form {
    left: 100px; }
    .callbackform .pop_form input {
      display: block;
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #2db2c4;
      color: #fff;
      font-family: "Bender", sans-serif;
      font-size: 14px;
      height: 24px;
      margin: 10px auto;
      padding-left: 4px;
      padding-top: 0;
      padding-bottom: 0;
      max-width: 460px;
      width: 100%; }
    .callbackform .pop_form .aboutyou {
      height: 144px;
      margin: 10px auto;
      display: block;
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #2db2c4;
      color: #fff;
      width: 100%;
      max-width: 460px;
      resize: none;
      padding-left: 4px; }
  .callbackform .button {
    border: 1px solid #5adff1;
    color: #5adff1; }

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #5adff1; }
  footer .minilogo_wrap {
    text-align: center;
    display: inline-block;
    margin: 10px; }
  footer h2 {
    color: #fe5b5d;
    font-weight: 800;
    font-size: 24px;
    margin: 6px 0;
    padding: 0;
    letter-spacing: 1px; }
  footer a {
    color: #55feb4; }
  footer .contacts_wrap {
    margin-left: 5px;
    display: inline-block;
    font-size: 14px; }
    footer .contacts_wrap ul li {
      margin-bottom: 1px; }
